<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "icon" type = "img/png" href = "../../images/Logo.png">
    <link rel="stylesheet" type="text/css" href="../../css/intro.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <title>JSP</title>
</head>
<body>
	<!-- Header -->
	<header>
            <div class="container">
                <div id="title">
                    <h1> <span class="highlighted">Web Systems</span> and Technology</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="../../index.html">Home</a></li>
                        <li><a href="#open-modal">Topics</a></li>
                        <li><a href="../../aboutus.html">About Us</a></li>
                    </ul>
                </nav>

            </div>
        </header>
        <!-- End of header -->
        <!-- Content for TOPICS navigation in modal view-->
        <div id="open-modal" class="modal-window">
            <div>
                <a href="#modal-close" title="Close" class="modal-close"> &times;</a>

                <h1>Topics</h1>

                <h1>HTTP</h1>
                <hr>
                <ul>
                    <li><a href="../Introduction/intro.html" id="link-color">World Wide Web</a></li>
                    <li><a href="../Introduction/internetHistory.html" id="link-color">Internet</a></li>
                    <li><a href="../Introduction/HTTP Protocol Versions.html" id="link-color">Hypertext Transfer Protocol</a></li>
                </ul>
                <br>

                <h1>HTML</h1>
                <hr>
                <ul>
                    <li><a href="../Front-End/HTML.html">Hypertext Markup Language</a></li>
                    <li><a href="../Front-End/Elements.html">HTML Elements</a></li>
                </ul>
                <br>
                <h1>CSS</h1>
                <hr>
                <ul>
                  <li><a href="../Front-End/CSS.html">Cascading Style Sheet</a></li>
                  <li><a href="../Front-End/declaration.html">CSS Declaration</a></li>
                  <li><a href="../Front-End/rules.html">Style Rules</a></li>
                </ul>
            </div>
        </div>

            <!--Side navigation for other topics-->

<!--
            <section id="side-nav">
                    <h1></h1>
                    <div class="topic-box">
                        <h3>World Wide Web</h3>
                        <ul>
                            <li><a href="intro.html">History</a></li>
                            <li><a href="url.html">Unifrom Resource Locator</a></li>
                        </ul>
                    </div>

                    <div class="topic-box">
                            <h3>Internet</h3>
                            <ul>
                                <li><a href="internetHistory.html">History</a></li>
                            </ul>
                    </div>

                        <div class="topic-box">
                                <h3>Hypertext Transfer Protocol</h3>
                                <ul>
                                    <li><a href="HTTP Protocol Versions.html">HTTP Protocol Versions </a></li>
                                    <li class="active"><a href="HTTP Fundamentals.html">HTTP Fundamentals</a></li>
                                    <li><a href="HTTP Request Message.html">HTTP Request Message</a></li>
                                    <li><a href="HTTP Response Message.html">HTTP Respone Message</a></li>
                                    <li><a href="HTTP Request Methods.html">HTTP Request Methods</a></li>
                                    <li><a href="GenHeaders.html">HTTP Message Headers</a></li>
                                </ul>
                        </div>
                </section>
-->

                <section id="contents">
                    <h3>JavaServer Pages(JSP)</h3>
                    <br>
                    <hr>
                    <p>JavaServer Pages (JSP) is a technology for developing Webpages that supports dynamic content. This helps developers insert java code in HTML pages by making use of special JSP tags, most of which start with <% and end with %>.Using JSP, you can collect input from users through Webpage forms, present records from a database or another source, and create Webpages dynamically.</p>
                     <ul>
                      <h1>JSP pages are more advantageous than Servlet:</h1>  
                         <li>They are easy to maintain</li>
                         <li>No recompilation or redeployment is required</li> 
                         <li>JSP has access to entire API of JAVA </li> 
                         <li>JSP are extended version of Servlet </li> 
                             
                    <br>
                         <br>
                    <ol>
                       <h1>JSP Syntax</h1> 
                       <li><strong>Declaration Tag</strong>it means the declaration is made inside the Servlet class but outside the service(or any other) method. You can declare static member, instance variable and methods inside Declaration Tag. Syntax of Declaration Tag :
                        <br>
                           <br>
                        Syntax:-<br> 
                            <%!  Dec var  %>
                                <br>
                            Example:-
                                <br>
                            <%! int var=10; %>
                                <br>
                                <br>

                        </li> 
                      <li><strong>Java Scriplets </strong>Scriptlet Tag allows you to write java code inside JSP page. Scriptlet tag implements the _jspServicemethod functionality by writing script/java code. Syntax of Scriptlet Tag is as follows :

                        <br>
                          <br>
                        Syntax:-
                          <br>
                            <% java code %>

                                <br>
                                <br>

                        </li> 
                          
                          
                          
                             </li> 
                      <li><strong>JSP Expression</strong>is used to print out java language expression that is put between the tags. An expression tag can hold any java language expression that can be used as an argument to the out.print() method.
                          <br>
                          <br>
                       Syntax:-
                          <br>
                          <%= expression %> 
                              <br>
                        Example:- 
                              <br>
                              <% num1 = num1+num2 %>

                        <br>
                        <br>
                        </li> 
                              
                              
                              
                              </li> 
                      <li><strong>JAVA Comments</strong>:It contains the text that is added for information which has to be ignored.


                        <br>
                          <br>
                        Syntax:- 
                          <br>
<% -- JSP Comments %>


    <br>
    <br>

                        </li> 
                         
                    </p>
               </section>

                     </ul>

                     </section>

</body>
</html>
