* {
	margin-top:0;
	margin-bottom:0;
	text-decoration: none;
}

#side-nav{
  height: auto;
  background:#35424a;
  width: 260px;
 /* position:fixed;*/
  display: block;
  float: left;
}

#side-nav h1{
  padding-top: 20px;
  color: #ffffff;
  font-size: 23px;
}

#side-nav h3{
  margin-top: 10px;
  font-size: 20px;
  color:#cccccc;
  border-bottom: 2px solid #e8491d;
  padding-top: 20px;
}

#side-nav a{
  color: #ffffff;
  padding-top: 10px;
}

#side-nav a:hover{
  color: #e8491d;
}

#side-nav li{
  padding:10px;
  font-size: 19px;
  list-style: none;
}

#side-nav .active a{
  color: #e8491d;
}
#contents {
  margin-left: 300px; /* Same as the width of the sidenav */
  margin-right: 30px;
  padding: 0px 10px;
  margin-top: 60px;
}

#contents img{
  height: 150px;
  width: 600px;
  margin-top: 20px;
  display: block;
}

#contents p{
  font-size: 22px;
}

#contents li{
  font-size: 20px;
  margin-left: 35px;
}

#contents h3{
  font-size: 25px;
}

#Domain_Name, #Anchor, #Port, #Path, #Parameters{
  padding-top: 15px;
}
